<div class="mt-4 bg-primary">
    <div class="container">
        <div class="col-sm-12 row">
            <div class="col-sm text-white">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, quasi repellat earum dolores velit explicabo incidunt assumenda, saepe necessitatibus unde dolorem iste enim, odio accusantium error consequatur mollitia recusandae non?
            </div>
            <div class="col-sm text-white">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, quasi repellat earum dolores velit explicabo incidunt assumenda, saepe necessitatibus unde dolorem iste enim, odio accusantium error consequatur mollitia recusandae non?
            </div>
            <div class="col-sm text-white">
    
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, quasi repellat earum dolores velit explicabo incidunt assumenda, saepe necessitatibus unde dolorem iste enim, odio accusantium error consequatur mollitia recusandae non?
            </div>
            <div class="col-sm text-white">
    
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, quasi repellat earum dolores velit explicabo incidunt assumenda, saepe necessitatibus unde dolorem iste enim, odio accusantium error consequatur mollitia recusandae non?
            </div>
        </div>
    </div>
</div>
